*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #DFDBE5;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23090313' fill-opacity='0.4'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.add-btn{
    padding: 20px;
    width: 270px;
    background: rgba(0, 0,0, 0.5);
    border-radius: 5px;
    margin: 20px auto 20px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.add-btn:hover{
    background: chartreuse;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.book{
    padding: 20px;
    min-width: 200px;
    background: rgba(0, 0,0, 0.5);
    height: 140px;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.cross-btn{
    width: 20px;
    height: 20px;
    float: right;
}
.modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0,0, 0.5);
    top: 0px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-book{
    width: 50vw;
    height: 40vh;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#form-top{
    width: 50vw;
    height: 30px;
    background-color: seagreen;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.hide-modal{
    display: none;
}
.show-modal{
    display: flex;
}
.input-ctn{
    width: 50vw;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    flex-direction: column;

}
.book-title{
    width: 300px;
    
    border: 1px solid white;


}
.add-book-btn{
    background-color: green;
    color: white;
    width: 120px;
    
}